[Desktop Entry]
Version=2.0-2024.1
Name=KryoMol
GenericName=Quantum chemistry visualizer
Comment=KryoMol analyzes and build spectra from quantum chemistry computations
Exec=KryoMol
Icon=KryoMol
Type=Application
Terminal=false
Categories=Science;



